body{
    background-color: whitesmoke;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.pantallaIzquierda{
    background-color: white;
    height: 1000vh;
    width: 320px;
    margin: 0%;
    padding: 0%;
    position: absolute;
    margin-top: -4.4%;
}

.tituloPantallaIzquierda{
    margin: 0%;
    padding: 0%;
    padding-top: 15%;
    padding-left: 15%;
    color: #17A589;
    font-size: 50px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.tituloDerecha{
    margin: 0%;
    padding: 0%;
    padding-top: 10%;
    padding-left: 10%;
    color: black;
    font-size: 35px;
    font-weight: 700;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.Inicio{
    margin-top: 40%;
    height: 100px;
    width: 270px;
    background-color: #17A589;
}

.TextoInicio{
    font-size:28px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding-left: 85px;
    padding-top: 35px;
    
}

.CasaIcon{
    height: 45px;
    width: 45px;
    position: absolute;
    margin-top: 25px;
    margin-left: 15px;
}

.boxGeneral{
    height: 100px;
    width: 270px;
    background-color: white;
}

.TextoGeneral{
    font-size:28px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding-left: 85px;
    padding-bottom: 1000px;
    position: absolute;
}

.IconGeneral{
    height: 45px;
    width: 45px;
    position: absolute;
    margin-top: 25px;
    margin-left: 15px;
}

/* Estilo para la parte superior */
.barraSuperior {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    justify-content: space-between;
}

.tituloBarraSuperior {
    color: #17A589;
    font-size: 40px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    margin: 0;
}

.buscador {
    padding-left: 20%;
    display: flex;
    align-items: center;
    width: 50%;
}

.inputBuscar {
    margin-top: 10%;
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 30px;
    border-radius: 20px 0 0 20px;
    border: 2px solid #17A589;
    outline: none;
}

.btnBuscar {
    background-color: #17A589;
    border: none;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    margin-top: 10%;
    height: 82.6px;
    width: 100px;
    cursor: pointer;
}

.iconoBuscar {
    height: 24px;
    width: 24px;
}

.opcionesDerecha {
    display: flex;
    align-items: center;
}

.iconoNotificaciones {
    height: 40px;
    width: 40px;
    margin-right: 100px;
    margin-top: 37%;
    cursor: pointer;
}

.perfil {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.iconoPerfil {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-top: 70.8%;
    
}

.textoPerfil {
    margin-top: 70.8%;
    font-size: 20px;
    color: #444;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.pantallaDerecha{
    float: right;
    background-color: white;
    height: 1000vh;
    width: 380px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px ;
    margin: 0%;
    margin-top: 8%;
    margin-right: 1%;
    padding: 0%;
}

.iconEspecialistas{
    height: 80px;
    width: 80px;
}

.iconEspecialistas2{
    height: 69px;
    width: 69px;
    margin-left: 7px;
}

.iconEspecialistas3{
    height: 69px;
    width: 69px;
    margin-left: 7px;
    border-radius: 50%;
}

.nombreEspecialistas{
    font-size: 30px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: -4%;
    margin-left: 6%;
}

.Especialidad{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: -2%;
    margin-left: 6%;
    font-size: 15px;
    color: grey;
}

.btnAgregarTarea {
    position: absolute;
    margin-top: -2.2%;
    margin-left: 12%;
    background-color: #87CEEB; /* Fondo celeste */
    color: white; /* Texto en blanco */
    font-size: 18px; /* Tama침o del texto */
    font-family: Arial, sans-serif; /* Fuente */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el bot칩n */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s ease; /* Efecto de transici칩n suave */
}

.btnAgregarTarea:hover {
    background-color: #00BFFF; /* Cambia a un azul m치s intenso al pasar el mouse */
}

.boxReunion{
    margin-top: -5%;
    margin-left: 6%;
    position: absolute;
    height: 70px;
    width: 270px;
    background-color: #f3f3f3;
    border-left: 5px aqua solid;
}

.boxReunion2{
    margin-top: -5%;
    margin-left: 6%;
    position: absolute;
    height: 70px;
    width: 270px;
    background-color: #f3f3f3;
    border-left: 5px red solid;
}

.dias{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    margin-left: 10%;
    font-size: 24px;
}

.textoReunion{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 18;
    margin-left: 4%;
}

.textoHorario{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 18x;
    margin-top: -7%;
    margin-left: 50%;
}

.textoHorario2{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 18x;
    margin-top: -1%;
    margin-left: 50%;
}

.pantallaMedio{
    position: absolute;
}